@font-face {
  font-family: "Roboto Condensed";
  src: url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
}

body {
  background-color: #f6f6f6;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed";
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

section {
  display: block;
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  webkit-transition: all 1s;
  transition: all 1s;
}

#index {
  background-color: #f6f6f6;
  z-index: 4;
}

#about {
  background-color: #56c9b6;
  top: 100%;
  bottom: -100%;
  z-index: 3;
}

#contact {
  background-color: #c95669;
  left: 100%;
  right: -100%;
  z-index: 2;
}

#navigator1 {
  background-color: #f6f6f6;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
  pointer-events: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  transition: all 1s;
  web-kit transition: all 1s;
}

#navigator2 {
  position: relative;
  top: 35%;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  transition: all 4s;
  web-kit transition: all 4s;
  transition-delay: 1s;
  web-kit transition-delay: 1s;
}

#navigator2 span {
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
}

#navigator1 a, #navigator2 a {
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  margin: auto 1em;
}

#navigator1 a {
  padding: 0.5em 0;
  font-size: 2em;
}

#navigator1 a:hover {
  text-decoration: none;
}

#about-link:hover, #contact-link:hover {
  font-weight: normal;
}

#home-link {
  font-size: 3em !important;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  #home-link {
    position: absolute;
    left: 32px;
    padding: 0.1em 0 !important;
    margin: 0 !important;
  }
}

#index-title {
  opacity: 0;
  pointer-events: none;
  transition: all 4s;
  web-kit transition: all 4s;
}

.title-wrapper {
  position: relative;
  top: 30%;
  text-align: center;
  transition: all 0.3s;
  web-kit transition: all 0.3s;
}

.title-wrapper h1 {
  font-size: 5em;
}

.info {
  position: relative;
  top: 30%;
  font-size: 1.5em;
}

.info a {
  color: blue;
}

.info ul a {
  margin: 1.5em;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
}

.info ul a:hover {
  text-decoration: none;
}

.info ul i {
  color: black;
  font-size: 2.5em;
  transition: all 0.2s;
  web-kit transition: all 0.2s;
}

.info .fa-twitter:hover {
  color: #4099FF;
}

.info .fa-youtube-play:hover {
  color: #CD201F;
}

.info .fa-github:hover {
  color: white;
}

.info .fa-soundcloud:hover {
  color: #ff7700;
}

footer {
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 5;
  margin: 1em 1em 1em -1em;
}

footer a {
  color: black;
}
