body {
  background-color: #f6f6f6;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed";
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

section {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: all 1s, z-index 0.001s;
  transition: all 1s, z-index 0.001s;
}

#index {
  background-color: #f6f6f6;
  z-index: 8;
}

#about {
  background-color: #56c9b6;
  top: 100%;
  bottom: -100%;
  z-index: 5;
}

#contact {
  background-color: #c95669;
  left: 100%;
  right: -100%;
  z-index: 2;
}

#navigator1 {
  background-color: #f6f6f6;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
  pointer-events: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  transition: all 1s;
  -webkit-transition: all 1s;
}

#navigator2 {
  position: relative;
  top: 30%;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  transition: all 4s;
  -webkit-transition: all 4s;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
}

#navigator2 a {
  text-align: center;
}

#navigator2 a span:nth-child(2) {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

#navigator2 a:hover span:nth-child(2) {
  margin-left: 14px;
  margin-right: 14px;
}

#command {
  display: block;
  width: 250px;
  background-color: white;
  padding: 10px;
  padding-left: 25px; /* 10 + 15 */ 
  margin: auto;
  border-radius: 7px;
  margin-top: 70px;
  text-align: left;
  font-family: 'Press Start 2P';
  font-size: 16px important!;
}

#command span {
  font-size: 16px;
}

#navigator1 a, #navigator2 a {
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  margin: auto 1em;
}

#navigator1 a {
  padding: 0.5em 0;
  font-size: 2em;
}

#navigator1 a:hover {
  text-decoration: none;
}

#about-link:hover, #contact-link:hover {
  font-weight: normal;
}

#home-link {
  position: absolute;
  left: 32px;
  padding: 0.1em 0 !important;
  margin: 0 !important;
  font-size: 3em !important;
  font-weight: bold;
}

.title-wrapper {
  position: relative;
  top: 30%;
  text-align: center;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

#index-title {
  position: relative;
  top: 20%;
  opacity: 0;
  pointer-events: none;
  transition: all 4s;
  -webkit-transition: all 4s;
}

.title-wrapper h1 {
  font-size: 5em;
}

.info {
  position: relative;
  top: 30%;
  font-size: 1.5em;
}

.info .fa-heart {
  color: #c95669;
}

.info a {
  color: blue;
}

.info a .fa-send-o {
  position: relative;
  right: 0px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.info a:hover .fa-send-o {
  right: -10px;
}

.info ul a {
  margin: 1.5em;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
}

.info ul a:hover {
  text-decoration: none;
  font-weight: normal;
}

.info ul i {
  color: black;
  font-size: 2.5em;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.info .fa-twitter:hover {
  color: #4099FF;
}

.info .fa-youtube-play:hover {
  color: #CD201F;
}

.info .fa-github:hover {
  color: white;
}

.info .fa-deviantart:hover {
  color: #05CC47;
}

.info .fa-soundcloud:hover {
  color: #ff7700;
}

footer {
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 5;
  margin: 1em 1em 1em -1em;
}

footer a {
  color: black;
  font-weight: bold;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

footer .fa-github {
  font-size: 20px;
}